$color-black: #000;
$color-white: #fff;

$color-primary: #90d26d;
$color-primary-light: #8decb4;
$color-primary-dark: #41b06e;

$color-secondary: #8644a2;
$color-secondary-light: #e59be9;
$color-secondary-dark: #d862bc;

$default-font-size: 1.6rem;
