@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  font-family: 'Lato', sans-serif;
  color: $color-grey;
}

a {
  &:link,
  &:visited {
    text-decoration: none;
    color: $color-black;
  }
}

.heading-primary {
  font-size: 3rem;
  color: transparent;
  text-transform: uppercase;
  background: linear-gradient(
    to right bottom,
    rgba($color: $color-primary-light, $alpha: 1),
    rgba($color: $color-primary-dark, $alpha: 1)
  );
  background-clip: text;
  transition: all 400ms ease;

  &:hover {
    transform: skewX(12deg) skewY(4deg);
  }
}
